<mat-toolbar class="sticky top-0 z-[1000]" color="secondary">
  <div class="flex-1 w-full mx-4">
    <a class="inline-flex w-auto" routerLink="/">Challenge Angular</a>
  </div>
  <div class="flex justify-end items-center pr-4">
    <mat-list-item class="cursor-pointer" [matMenuTriggerFor]="menu">
      <mat-icon class="h-full w-full text-[32px] pt-1">account_circle</mat-icon>
    </mat-list-item>
    <mat-menu #menu="matMenu">
      <a
        mat-menu-item
        class="flex justify-start items-center"
        [routerLink]="['/users/add']"
        ><mat-icon class="m-0 flex items-center text-xl h-full">add</mat-icon
        ><span class="pl-1 self-start">user</span></a
      >
      <a
        mat-menu-item
        class="flex justify-start items-center"
        [routerLink]="['/users']"
      >
        <mat-icon class="m-0 flex items-center text-xl h-full">list</mat-icon
        ><span class="pl-2 self-start">users</span></a
      >
      <a
        mat-menu-item
        class="flex justify-start items-center"
        [routerLink]="['/dashboard']"
      >
        <mat-icon class="m-0 flex items-center text-xl h-full"
          >settings</mat-icon
        ><span class="pl-2 self-start">Dashboard</span></a
      >
    </mat-menu>
  </div>
</mat-toolbar>
<main
  class="relative py-12 flex justify-center items-center h-full min-h-screen"
>
  <div class="w-full max-w-4xl mx-auto px-6 sm:px-8">
    <router-outlet></router-outlet>
  </div>
</main>
